
ue4/boxes/Intermediate/CachedAssetRegistry\.bin

ue4/boxes/Saved/Autosaves/PackageRestoreData\.json

ue4/boxes/Saved/Config/Windows/EditorPerProjectUserSettings\.ini

ue4/boxes/Saved/Config/Windows/Engine\.ini

ue4/boxes/Saved/Logs/boxes\.log
